@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>政协提案管理系统</h1>
    <p class="lead">政协提案系统，是运用移动互联网等主流技术，实现政协各部门及委员之间信息的快速传递和规范化管理，是政协机关工作人员掌握委员信息，服务委员履职的得力助手。</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">公众进入 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>政协委员</h2>
        <p>
            要密切联系群众，了解和反映群众的愿望和要求，参加政协组织的会议和活动,可以通过提出提案、社情民意等方式履行民主监督职能。
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">政协委员进入 &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>提案委</h2>
        <p>
            依照规定的程序，组织、征集政协提案并对提案进行审查立案，提出承办单位，对提案办理进行检查和督促。
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">提案委进入 &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>人民政府</h2>
        <p>加强对政府系统办理工作的组织、协调和指导，准确掌握办理工作动态，及时研究解决办理工作中出现的问题，做到交办时有明确要求，办理中有督促检查，办复后有跟踪落实。</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">政府进入 &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>承办单位</h2>
        <p>要多了解政协提案，与政协委员协商多沟通，把协商贯穿办理提案全过程，注重办理实效，办出一定成效。同时做好记录、回复等相关基础工作。</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">承办单位进入 &raquo;</a></p>
    </div>
</div>